    <nz-layout>
      <nz-header>
        <div class="logo">
          <img src="/assets/images/personal-brand-image.png" alt="image">
        </div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
          <li nz-menu-item>about us</li>
          <li nz-menu-item>statistics</li>
          <li nz-menu-item nzSelected>dashboard</li>
        </ul>
      </nz-header>
          <nz-content>
            <app-grid-component></app-grid-component>
          </nz-content>
    </nz-layout> 